/*
 * TYPOGRAPHY
 */
@import url('https://fonts.googleapis.com/css?family=Cabin:400,600,700|Montserrat');

body { color: #101010; }

h1, h2, h3, button { font-family: 'Montserrat', sans-serif; }
h2 { text-transform: uppercase; }

p, .button { font-family: 'Cabin', sans-serif; }

@media screen {
	h2 { font-size: 16px; }
	
	h2 { font-size: 14px; }
	
	p { font-size: 12px; }
}

@media (min-width: 640px) {
	h2 { font-size: 28px; }
	
	h3 { font-size: 21px; }
	
	p { font-size: 16px; }
}

.row, .columns { position: relative; }



/*
 * SECTIONS
 */
header {
	background-color: #fff;
	width: 100%;
	height: 100vh;
	padding: 1rem; }
	
section {
	background-color: #fff;
	width: 100%;
	height: 100vh;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 1rem;
	padding-right: 1rem; }
	
header > .row, header .columns, section > .row, section .columns {
	background-position: center center;
	background-size: cover;
	height: 100%;
	position: relative; }
	
header .logo {
	max-width: 506px;
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%); }
	
header .text-box , section .text-box {
	background-color: #fff;
	position: absolute;
	top: 50%; }
	
@media screen {
	header .logo { max-width: 258px; }
	
	header .text-box, section .text-box {
		width: 100vw;
		padding: 1rem 2rem; }
	
	section#main .text-box, section#register .text-box {
		left: 50%;
		transform: translate(-50%, -50%); }
}

@media (min-width: 640px) {
	header .logo { max-width: 506px; }
	
	header .text-box, section .text-box {
		width: 75vw;
		padding: 2rem 2rem; }
	
	section#main .text-box {
		left: 0;
		transform: translate(-50%, -50%); }
		
	section#register .text-box {
		left: 100%;
		transform: translate(-50%, -50%); }
}


section#local-global .row, section#local-global .columns { height: auto; }


section#local-global { background-color: #333; }

section#local-global h1, section#local-global h2, section#local-global h3, section#local-global p { color: #fff; }

section#local-global h1 { margin-top: 2rem; }

section#local-global h2 {
	padding-top: 2rem;
	margin-bottom: 0; }

section#local-global p.percentage {
	font-size: 5rem;
	line-height: 1;
	padding-top: 3rem;
	padding-bottom: 3rem;
	margin-bottom: 0; }
	
section#local-global p.percentage + p {
	padding-bottom: 2rem;
	margin-bottom: 0; }
	
.background-local {
	background-image: url(../img/local.png);
	background-position: center center;
	background-repeat: no-repeat; }
	
.background-global {
	background-image: url(../img/global.png);
	background-position: center center;
	background-repeat: no-repeat; }



/*
 * FORM
 */
.button {
	color: #fff;
	background-color: #080808;
	padding: 1rem 2rem; }
.button:hover, .button:focus { background-color: #000; }

#contact form {
	background-color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%); }
	
#contact input[type="text"], #contact input[type="email"] {
	font-family: 'Cabin', sans-serif;
	padding: 1rem;
	height: 42px;
	box-shadow: none;
	border-color: #ccc;
}
	
@media screen {
	#contact form {
		width: 100%;
		padding: 2rem 1rem; }
}

@media (min-width: 640px) {
	#contact form {
		width: 50%;
		padding: 2rem 2rem; }
}



/*
 *
 */
#button-arrow {
	color: #101010;
	background-color: rgba(255,255,255,0.5);
	width: 48px;
	height: 48px;
	position: absolute;
	left: 50%;
	bottom: 2rem;
	border: 2px solid #fff;
	transform: translateX(-50%); }
	
#button-arrow i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%); }
	
	
.align-vertical-center, .align-vertical-center {
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%); }
	
.border-top-eee { border-top: 1px solid #999; }

@media screen {
	.border-bottom-eee { border-bottom: 1px solid #999; }
	
	.border-left-eee { border-left: none; }
}

@media (min-width: 640px) {
	.border-left-eee { border-left: 1px solid #999; }
	
	.border-bottom-eee { border-bottom: none; }
}


