/*
 * TYPOGRAPHY
 */
@import url('https://fonts.googleapis.com/css?family=Cabin:400,600,700|Montserrat');

body { color: #101010; }

h1, h2, h3, button { font-family: 'Montserrat', sans-serif; }
h1, h2, h3 { text-transform: uppercase; }

p, .button { font-family: 'Cabin', sans-serif; }

@media screen {
	h1 { font-size: 20px; }
	
	h2 { font-size: 16px; }
	
	h3 { font-size: 14px; }
	
	p { font-size: 12px; }
}

@media (min-width: 640px) {
	h1 { font-size: 38px; }
	
	h2 { font-size: 28px; }
	
	h3 { font-size: 21px; }
	
	p { font-size: 16px; }
}

.row, .columns { position: relative; }


/*
 * SECTIONS
 */
header, section {
	background-color: #fff;
	width: 100%;
	position: relative; }
	
header { padding: 1rem; }

header h1 {
	color: #fff;
	text-transform: uppercase; }

header .logo {
	width: 144px;
	max-width: none;
	max-height: 144px;
	margin-bottom: 1rem; }
	

section {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 2rem;
	padding-bottom: 2rem; }
	
	
section#services .icon {
	width: 64px;
	height: 64px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
	position: relative;
	border: 2px solid #101010;
	border-radius: 50%; }
	
section#services .icon i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%) }
	
	
section#local-global { background-color: #333; }

section#local-global h1, section#local-global h2, section#local-global h3, section#local-global p { color: #fff; }

section#local-global h1 { margin-top: 2rem; }

section#local-global h2 {
	padding-top: 2rem;
	margin-bottom: 0; }

section#local-global p.percentage {
	font-size: 5rem;
	line-height: 1;
	padding-top: 3rem;
	padding-bottom: 3rem;
	margin-bottom: 0; }
	
section#local-global p.percentage + p {
	padding-bottom: 2rem;
	margin-bottom: 0; }
	
.background-local {
	background-image: url(../img/local.png);
	background-position: center center;
	background-repeat: no-repeat; }
	
.background-global {
	background-image: url(../img/global.png);
	background-position: center center;
	background-repeat: no-repeat; }


	
	
@media screen {
	section#services p {
		padding-left: 0;
		padding-right: 0; }
	
}

@media (min-width: 640px) {
	section#services p {
		padding-left: 1rem;
		padding-right: 1rem; }
}



/*
 * FORM
 */
.button {
	color: #fff;
	text-transform: uppercase;
	background-color: #080808;
	padding: 1rem 2rem; }
.button:hover, .button:focus { background-color: #000; }

#contact form {
	background-color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%); }
	
#contact input[type="text"], #contact input[type="email"] {
	font-family: 'Cabin', sans-serif;
	padding: 1rem;
	height: 42px;
	box-shadow: none;
	border-color: #ccc;
}
	
@media screen {
	#contact form {
		width: 100%;
		padding: 2rem 1rem; }
}

@media (min-width: 640px) {
	#contact form {
		width: 50%;
		padding: 2rem 2rem; }
}



/*
 * 
 */
.box {
	background-position: center bottom;
	background-size: cover;
	position: relative; }

.fullwidth { width: 100%; }
.fullheight { height: 100%; }
.fullscreen {
	height: 100vh;
	min-height: 100vh; }
.halfscreen {
	height: 50vh;
	min-height: 50vh; }


.align-vertical-center, .align-vertical-center {
	width: 100%;
	height: auto;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%); }
	
.border-top-eee { border-top: 1px solid #999; }

@media screen {
	.border-bottom-eee { border-bottom: 1px solid #999; }
	
	.border-left-eee { border-left: none; }
}

@media (min-width: 640px) {
	.border-left-eee { border-left: 1px solid #999; }
	
	.border-bottom-eee { border-bottom: none; }
}